.el-bg-main {
  background: #cf8b32;
  color: #ffffff;
}
.el-bg-grey {
  background: #f5f0e8;
}
.el-color-main {
  color: #cf8b32;
}
.el-color-accent {
  color: #fe6327;
}
.el-ico-new,
.el-ico-new:before,
.el-ico-new:after {
  background: #cf8b32;
}
.el-ico-sale,
.el-ico-sale:before,
.el-ico-sale:after {
  background: #fe6327;
}
.slider-handle {
  background: #fe6327;
}
.sh_btn,
.sh_header,
.sh_button {
  background-color: #fe6327 !important;
  color: #FFF!important;
}
.sh_btn_left .sh_title_text,
.sh_btn_right .sh_title_text {
  border-top: 1px solid #FFF!important;
}
.sh_chat,
.sh_button {
  border: 1px solid #fe6327 !important;
}
.sh_top_buttons {
  border: 0!important;
}
.el-top-contant-prefix,
.el-top-contant-number {
  color: #fe6327;
}
.el-top-slogan .el-bg-main {
  background: #fe6327;
}
.btn-group-cart .btn-default.disabled {
  background: #d2bc9a;
}
.navbar-default {
  background-image: url("fon.jpg");
  background-repeat: repeat-x;
  min-height: 49px;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 14px;
}
@media (min-width: 992px) {
  .navbar-nav > li > a {
    font-size: 16px;
  }
}
@media (min-width: 767px) {
  .navbar-nav > li > a {
    min-height: 49px;
  }
}
.el-main-fan-list i {
  color: #fe6327;
}
.pager li > a,
.pager li > span {
  color: #ab8a5f;
}
.el-nav-top .nav > li > a {
  color: #d1ad76;
}
.el-nav-top .nav > li > a:hover {
  color: #bc802f;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
}
a > h4 {
  color: #ab8a5f;
}
a:hover > h4 {
  color: #b99e7a;
}
.el-product-cart-counter .btn-number {
  padding: 9px 4px!important;
}
/*
.el-product-cart-counter .btn-number {
  padding: 8px 3px!important;
}
*/
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e5dccd;
}
.el-well-ico__big i {
  border: 6px solid #cf8b32;
  color: #cf8b32;
}
.el-well-info-link a {
  color: #cf8b32;
  border-bottom: 1px dotted #cf8b32;
}
.el-well-info-link i {
  color: #ab8a5f;
}
.el-well-info-link:hover a {
  color: #b99e7a;
  border-bottom: 1px dotted #b99e7a;
}
.el-well-info-link:hover i {
  color: #ab8a5f;
}
.el-cap .el-product-list-img {
  background: #cf8b32;
  display: table;
  width: 100%;
  vertical-align: middle;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  height: 300px;
}
@media (min-width: 768px) {
  .el-cap .el-product-list-img {
    height: 186px;
  }
}
@media (min-width: 992px) {
  .el-cap .el-product-list-img {
    height: 272px;
  }
}
@media (min-width: 1200px) {
  .el-cap .el-product-list-img {
    height: 219px;
  }
}
@media (min-width: 1430px) {
  .el-cap .el-product-list-img {
    height: 262px;
  }
}
@media (min-width: 1700px) {
  .el-cap .el-product-list-img {
    height: 228px;
  }
}
@media (min-width: 1800px) {
  .el-cap .el-product-list-img {
    height: 256px;
  }
}
.el-cap .el-product-list-img:hover {
  background: #fe6327;
}
.el-cap a {
  display: table-cell;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  font-size: 23px;
  padding: 0 15px;
  text-transform: uppercase;
}
.el-search-header .btn {
  background-image: -webkit-linear-gradient(#dc2f01, #fe6427 80%, #fe6427);
  background-image: linear-gradient(#dc2f01, #fe6427 80%, #fe6427);
  background-repeat: no-repeat;
  color: #ffffff;
}

.el-marker-sale {
    background: #fe6327;
}

.el-product-icon-discount-label {
    background: #fe6327;
}

.el-product-icon-discount-block__big .el-product-icon-discount-label {
    background: #fe6327;
}

.pagination>li>a {
    background: #c0802d;
    border: 1px solid transparent;
    color: #fff;
    padding: 10px 15px;
}

.pagination>li>a:focus {
    background: #c0802d;
    border: 1px solid transparent;
    color: #fff;
}

.pagination>li>a:hover {
    background: #fe6327;
    color: #fff;
    border-color: transparent; 
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
    background: #fe6327;
    color: #fff;
    border-color: transparent;
}

.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover {
    background: #e2ba85; 
    border-color: transparent;
    color: #fff;
}
.el-breadcrumb li:after {
    border-left-color: #f5f0e8;
}
.el-breadcrumb li:before {
    border-left-color: #ccc8c5;
}

/*НОВЫЕ КАТЕГОРИИ НА ГЛАВНОЙ (начало)*/
.el-catalogue-main .el-img-wrapper {
	border: 1px solid #cf8b32;
    transition: .3s all;
}
.el-catalogue-main .el-img-wrapper img{
    margin: 0px auto 40px auto;
}
.el-catalogue-main .el-img-wrapper:hover {
	border: 1px solid #fe6327;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.el-catalogue-main .el-img-wrapper a .el-catalogue-main-info {
	background: #cf8b32;
	padding: 10px;
	text-align: center;
    opacity: 1;
}
.el-catalogue-main .el-img-wrapper:hover .el-catalogue-main-info{
	background: #fe6327;
}
.el-catalogue-main .el-img-wrapper .el-catalogue-main-info h4{
	margin: 0;
	color: #fff;
}
.el-catalogue-main .el-img-wrapper a:hover{
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 768px) {
.el-catalogue-main .el-catalogue-main-info h4 {
	font-size: 12px;
}
}
/*НОВЫЕ КАТЕГОРИИ НА ГЛАВНОЙ (конец)*/


/*Преимущества*/
@media (min-width: 320px) {
	.el-advantages-item .panel {
		height: 220px;
	}
}
@media (min-width: 768px) {
	.el-advantages-item {
		height: auto;
	}
}
@media (min-width: 1200px) {
	.el-advantages-item {
		height: auto;
	}
	.el-advantages-item .panel {
		height: 200px;
	}
}
@media (min-width: 1430px) {
	.el-advantages-item {
		height: auto;
	}
}
@media (min-width: 1700px) {
	.el-advantages-item {
		height: auto;
	}
}
.el-advantages-block {
	padding: 5px 5px 25px 5px;
}
.el-advantages-item ul{
    margin-bottom: 0;
}
@media (min-width: 320px) and (max-width: 768px) {
	.el-advantages-item  img{
		width: 60px;
	}
}
.el-advantages-item .panel-default {
	border-color: #fe6327;
}
/*Преимущества*/


/*КАРУСЕЛЬ ОТЗЫВЫ*/
.owl-prev, .owl-next {
	color: #cf8b32 !important;
	transition: .3s all;
	opacity: 0.7;
}
.owl-prev:hover, .owl-next:hover {
	color: #fe6327 !important;
}

/*КАРУСЕЛЬ*/

/*Баннеры на ПК (начало)*/
.el-banner-oldprice {
       color: #000; 
}
.el-banner-newprice {
       color: #dc3120;
}
.el-banner-text {
       color: #000;
}
/*Баннеры на ПК (конец)*/

.el-catalogue-element-col-custom {
    height: 420px;
}


.el-toggle-switch__htx span::before, .el-toggle-switch__htx span::after {background-color: #fe6327;}
.el-bg-accent {background-color: #fe6327;}
